

.product {
    width: 700px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .product__image {
    width: 250px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .product__details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .details__title {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--secondary-color);
  }
  
  .details__desc {
    font-size: 0.85rem;
    color: var(--secondary-color);
  }
  
  .details__price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
  }
  
  .product__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
  }
  
.details__qty {
  display: flex;
  align-items: center;
}

.details__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
}
  
.actions__Btn {
  width: 130px;
  height: 60px;
  border: 1px solid var(--secondary-color);
  border-radius: 10%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
  margin-top: 160px;
  background-color:rgb(219, 104, 110);
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.actions__Btn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(219, 104, 110);
}

.actions__Btn img {
  width: 70px;
  height: 50px;
}