.cartitem {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
  margin-bottom: 8px;
}

.cartItem__name {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 200px;
  color: #171717;
}

.cartItem__name:hover {
  color: #9b447e;
}



.cartItem__deleteBtn {
  padding: 10px 17px;
  color: red;
  background: transparent;
  border: 3px groove;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cartItem__deleteBtn:hover,
.carItem__deleteBtn:active,
.carItem__deleteBtn:focus {
  background: #171717;
  transform: scale(1.2);
}


.cartitem__price {

margin: 5px 10px 0 0;
font-size: 28px; border-style: groove;
border-radius: 10px;

}


@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.8rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 8px 13px;
  }

  .cartitem__price {
    font-size: 0.8rem;
  
  }
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.6rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 5px 8px;
  }

  .cartitem__price {
    font-size: 0.6rem;
    

  }
}
.cartitem__qty {
  display: flex;
  align-items: center;
 margin-right: 10px;
  border-radius: 10%;
}

.cartitem__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 50px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
  border-style: groove;
 
}
.cartitem__qty label {
 font-weight: bold;
}